# Project exclude paths
/venv/
/metatron3.log
/.idea
/.git
/configs/users/*
!configs/users
!/configs/users/user_history_goes.here.txt
/webhost/
/assets/mtg_card_gen/users/*
!/assets/mtg_card_gen/users
!/assets/mtg_card_gen/users/user_cards_will_be_here.txt
/configs/channels/*
!/configs/channels
/configs/discord.json
/configs/twitch.json
