# Project exclude paths
/venv/
/metatron3.log
/.idea
/.git
/configs/users/*
/webhost/
/assets/mtg_card_gen/users/*
/configs/channels/1268418010008387684.json
/configs/twitch.json-backup
/configs/discord.json-backup
/configs/discord.json
/configs/twitch.json
/configs/avernus.json